<!DOCTYPE html>
<html th:fragment="addNew">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="/css/PageAddNew.css">
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
	<form class="page-add-new-container" method="POST" action="/page/add">
        <h2 type="text" class="title">ADD NEW</h2>
        <div>
            <i class='bx bx-user'></i>
            <input type="text" name="pageName" placeholder="Page Name" >
        </div>
        <div>
            <i class='bx bxs-key'></i>
            <input type="text" name="keyword" placeholder="Keyword">
        </div>
        <div>
            <i class='bx bxs-book-content'></i>
            <input type="text" name="content" placeholder="Content">
        </div>
        <div>
            <i class='bx bxs-id-card'></i>
            <input type="text" name="parentPageId" placeholder="Parent Page Id">
        </div>
        <input type="submit">
    </form>
</body>
</html>