<!DOCTYPE html>
<html th:fragment="listPage">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="/css/PageAll.css">
</head>
<body>
	<table>
	<tr style="position: -webkit-sticky;position: sticky;top:0">
      <th>id</th>
      <th>Pagename</th>
      <th>parentPageId</th>
      <th>Chức năng</th>
    </tr>
    <tr th:each="user,istat : ${ds}" th:object="${user}" id="row-[[${user.id}]]">
		  <td th:text="*{getId()}"></td>
		  <td th:text="*{getPageName()}"></td>
		  <td th:text="*{getParentPageId()}"></td>
		  <td style="display:flex">
		  	<form method="post" action="/page/view/id">
		  		<input type="hidden" name="idx" th:value="${istat.index}">
		  		<input type="submit" value="View" style="background-color: #4CAF50; color: white; padding: 8px 16px; border: none; cursor: pointer;">
		  	</form>
		  	<form method="post" action="/page/delete/id">
		  		<input type="hidden" name="id" th:value="*{getId()}">
		  		<input type="submit" value="Delete" style="background-color: #f44336; color: white; padding: 8px 16px; border: none; cursor: pointer;">
		  	</form>
		  </td>
		</tr>

  </table>
</body>
</html>
