<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Glass morphism Profile Card</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="aboutMe.css" />
    
</head>
<body>
    <section class="aboutMe" th:fragment="aboutMe">
        <div class="card1">
            <div class="card">
                <div class="left-container">
                  <img src="https://upload.wikimedia.org/wikipedia/commons/2/2f/Logo_NTU.png" alt="Profile Image">
                  <h2 class="gradienttext">Nguyễn Minh Quang</h2>
                  <p>Lập trình viên</p>
                </div>
                <div class="right-container">
                  <h3 class="gradienttext">Profile</h3>
                  <table>
                      <tr>
                          <td>Name :</td>
                          <td>Nguyễn Minh Quang</td>
                      </tr>
                      <tr>
                        <td>Age :</td>
                        <td>21</td>
                      </tr>
                      <tr>
                        <td>Mobile :</td>
                        <td>0394642365</td>
                      </tr>
                      <tr>
                        <td>Email :</td>
                        <td>quang.nm.64cntt@ntu.edu.vn</td>
                      </tr>
                      <tr>
                        <td>Address :</td>
                        <td>Thị Trấn, Diên Khánh, Khánh Hòa</td>
                      </tr>
                  </table>
                 
                </div>
              </div>
        </div>
    </section>
</body>
</html>
